<style>

    /* light mode colors */
    body {
      --primary-color: hsl(220, 32%, 49%);
      --primary-pale-color: hsla(220, 32%, 49%, 0.13);
      --text-color: hsl(206, 10%, 30%);
      --text-pale-color: hsl(229, 5%, 48%);
      --bg-color: hsl(0, 0%, 100%);
      --highlight-mark-color: hsla(224, 34%, 53%, 0.21);

      --callout-note-color: hsl(220, 30%, 49%);
      --callout-important-color: hsl(263, 33%, 54%);
      --callout-warning-color: hsl(26, 29%, 45%);
      --callout-alert-color: hsl(0, 44%, 53%);
      --callout-question-color: hsl(200, 32%, 41%);
      --callout-tip-color: hsl(150, 38%, 38%);
    }

    /* dark mode colors */
    body.dark {
      --primary-color: hsl(220, 32%, 57%);
      --primary-pale-color: hsla(220, 32%, 57%, 0.13);
      --text-color: hsl(222, 10%, 66%);
      --text-pale-color: hsl(220, 6%, 53%);
      --bg-color: hsl(225, 6%, 13%);
      --highlight-mark-color: hsla(224, 34%, 53%, 0.21);

      --callout-note-color: hsl(220, 32%, 52%);
      --callout-important-color: hsl(263, 33%, 54%);
      --callout-warning-color: hsl(26, 29%, 45%);
      --callout-alert-color: hsl(0, 44%, 53%);
      --callout-question-color: hsl(200, 32%, 41%);
      --callout-tip-color: hsl(150, 38%, 38%);
    }

    /* typography */
    body {
      --main-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      --homepage-max-width: 768px;
      --main-max-width: 768px;
      --avatar-size: 60px;
      --icon-size: 20px;
      --homepage-font-size: 16px;
      --homepage-line-height: 1.75;
      --paragraph-font-size: 16px;
      --paragraph-line-height: 1.75;
      --aside-font-size: 15px;
      --img-border-radius: 0px;
      --callout-border-radius: 0px;
      --detail-border-radius: 0px;
      --dark-mode-img-brightness: 0.75;
      --dark-mode-chart-brightness: 0.75;
      --inline-code-border-radius: 2px;
      --inline-code-bg-color: var(--primary-pale-color);
      --block-code-border-radius: 0px;
      --block-code-border-color: var(--primary-color);
      --detail-border-color: var(--primary-color);
    }
</style>